footer {
  padding: 20px 10px 0 10px;
}

footer .container {
  max-width: var(--my--style--global--wide-size);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color--pure--gray--7333);
  padding: 8px;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

footer nav ul li {
  display: inline;
}

@media (max-width: 720px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer nav ul {
    justify-content: center;
  }
}

footer .copyright {
  font-size: var(--font-size--normal);
  color: var(--color--pure--gray--3000);
}
footer nav {
  font-size: var(--font-size--x-small);
  color: var(--color--pure--gray--3000);
}

:where(footer nav a) {
	color: var(--color--pure--gray--3000);
	text-decoration: none;
}
:where(footer nav a:hover) {
	text-decoration: underline;
}
