:root {
	--ninetysix-pixels: 96px;
	--sixtyfour-pixels: 64px;
	--twentyfour-pixels: 24px;
	--sixteen-pixels: 16px;
	--four-pixels: 4px;
	--twentyfour-points: 24pt;
  	--color--alblooms--primary : #5ba574;
	--color--alblooms--secondary: #5b8ca5;
	--color--alblooms--accent: #a55b8c;
	--color--alblooms--negative: #a5745b;
	--color--alblooms--primary--bright : #70cc8e;
	--my--preset--aspect-ratio--square: 1;
	--my--preset--aspect-ratio--4-3: 4/3;
	--my--preset--aspect-ratio--3-4: 3/4;
	--my--preset--aspect-ratio--3-2: 3/2;
	--my--preset--aspect-ratio--2-3: 2/3;
	--my--preset--aspect-ratio--16-9: 16/9;
	--my--preset--aspect-ratio--9-16: 9/16;
	/* number := lightness */
	--color--pure--white: #ffffff;
	--color--pure--gray--9490: #f2f2f2;
	--color--pure--gray--9020: #e6e6e6;
	--color--pure--gray--8784: #e0e0e0;
	--color--pure--gray--7333: #BBBBBB;
	--color--pure--gray--4000: #666666;
	--color--pure--gray--5333: #888888;
	--color--pure--gray--3333: #555555;
	--color--pure--gray--3000: #4d4d4d; /* --color--pure--gray--3098: #4f4f4f; */
	--color--pure--gray--2667: #444444;
	--color--pure--gray--2000: #333333;
	--color--pure--gray--1176: #1E1E1E;
	--color--pure--black: #000000;
	--color--custom--blue-5000: var(--color--custom--blue-5000);
	--color--custom--blue-3510: #0056b3;
	--color--button--background-default: var(--color--alblooms--primary);
	--color--button--background-hover: var(--color--alblooms--primary--bright);

	--color--page--background: var(--color--pure--white);
	--color--page--background--alternative--default: var(--color--alblooms--primary);
	--color--page--background--alternative--features: var(--color--alblooms--primary);
	--color--page--background--alternative--download: var(--color--alblooms--negative);
	--color--page--background--alternative--about: var(--color--alblooms--secondary);
	--color--page--background--alternative--bye: var(--color--alblooms--accent);
	--color--page--background--alternative--current: var(--color--alblooms--primary);

	--color--text-whitish: var(--color--pure--gray--9490);
	--color--text-blackish: var(--color--pure--gray--2667);


	--font-size--xx-small: clamp(6pt, 0.675rem + ((1vw - 3.2px) * 0.079), 8pt);
	--font-size--x-small: clamp(8pt, 0.725rem + ((1vw - 3.2px) * 0.104), 10pt);
	--font-size--small: clamp(9pt, 0.775rem + ((1vw - 3.2px) * 0.129), 12pt);
	--font-size--normal: clamp(10pt, 0.875rem + ((1vw - 3.2px) * 0.179), 14pt);
	--font-size--medium: clamp(12pt, 0.984rem + ((1vw - 3.2px) * 0.737), 20pt);
	--font-size--large: clamp(16pt, 1.502rem + ((1vw - 3.2px) * 1.426), 32pt);
	--font-size--x-large: clamp(24pt, 2.089rem + ((1vw - 3.2px) * 2.373), 40pt);
	--font-size--xx-large: clamp(32pt, 2.5rem + ((1vw - 3.2px) * 5), 60pt);

	/* --font-size--xx-small: clamp(6pt, 0.675rem + ((1vw - 3.2px) * 0.079), 8pt);
	--font-size--x-small: clamp(8pt, 0.775rem + ((1vw - 3.2px) * 0.129), 10pt);
	--font-size--small: clamp(9pt, 0.625rem + ((1vw - 3.2px) * 0.079), 12pt);
	--font-size--normal: clamp(10pt, 0.875rem + ((1vw - 3.2px) * 0.179), 14pt);
	--font-size--medium: clamp(12pt, 0.984rem + ((1vw - 3.2px) * 0.737), 20pt);
	--font-size--large: clamp(16pt, 1.502rem + ((1vw - 3.2px) * 1.426), 32pt);
	--font-size--x-large: clamp(24pt, 2.089rem + ((1vw - 3.2px) * 2.373), 40pt);
	--font-size--xx-large: clamp(32pt, 2.5rem + ((1vw - 3.2px) * 5), 60pt); */

	/* 10 12 16 24 32 */
	/* 12 16 24 32 48 */
	/* 14 20 32 40 60  */


/*
	--font-size--small: clamp(10pt, 0.875rem + ((1vw - 3.2px) * 0.179), 12pt); /* 16px=12pt *
	--font-size--medium: clamp(12pt, 0.984rem + ((1vw - 3.2px) * 0.737), 16pt); /* 24px=18pt *
	--font-size--large: clamp(16pt, 1.502rem + ((1vw - 3.2px) * 1.426), 24pt); /* 42.6px=32pt *
	--font-size--x-large: clamp(24pt, 2.089rem + ((1vw - 3.2px) * 2.373), 32pt); /* 64px=48pt *
	--font-size--xx-large: clamp(32pt, 2.5rem + ((1vw - 3.2px) * 5), 48pt); /* 80px=60pt *
	*/

	--font-family--inter: "Inter", sans-serif;

	--my--preset--font-size--small: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.179), 16px);
	--my--preset--font-size--medium: clamp(15.747px, 0.984rem + ((1vw - 3.2px) * 0.737), 24px);
	--my--preset--font-size--large: clamp(24.034px, 1.502rem + ((1vw - 3.2px) * 1.426), 40px);
	--my--preset--font-size--x-large: clamp(33.419px, 2.089rem + ((1vw - 3.2px) * 2.373), 60px);
	--my--preset--font-size--xx-large: clamp(40px, 2.5rem + ((1vw - 3.2px) * 5), 96px);
	--my--preset--font-family--inter: "Inter", sans-serif;
	--my--preset--spacing--20: min(calc(var(--my--custom--spacing-unit) * (var(--my--custom--spacing-increment) * 1) * 1px), calc(var(--my--custom--spacing-increment) * 1 * 1vw));
	--my--preset--spacing--30: min(calc(var(--my--custom--spacing-unit) * (var(--my--custom--spacing-increment) * 2) * 1px), calc(var(--my--custom--spacing-increment) * 2 * 1vw));
	--my--preset--spacing--40: min(calc(var(--my--custom--spacing-unit) * (var(--my--custom--spacing-increment) * 3) * 1px), calc(var(--my--custom--spacing-increment) * 3 * 1vw));
	--my--preset--spacing--50: min(calc(var(--my--custom--spacing-unit) * (var(--my--custom--spacing-increment) * 4) * 1px), calc(var(--my--custom--spacing-increment) * 4 * 1vw));
	--my--preset--spacing--60: min(calc(var(--my--custom--spacing-unit) * (var(--my--custom--spacing-increment) * 5) * 1px), calc(var(--my--custom--spacing-increment) * 5 * 1vw));
	--my--preset--spacing--70: min(calc(var(--my--custom--spacing-unit) * (var(--my--custom--spacing-increment) * 6) * 1px), calc(var(--my--custom--spacing-increment) * 6 * 1vw));
	--my--preset--spacing--80: min(calc(var(--my--custom--spacing-unit) * (var(--my--custom--spacing-increment) * 7) * 1px), calc(var(--my--custom--spacing-increment) * 7 * 1vw));
	--my--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
	--my--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
	--my--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
	--my--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
	--my--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
	--my--custom--input--border--color: var(--color--pure--gray--7333);
	--my--custom--input--border--radius: 3px;
	--my--custom--input--border--width: 1px;
	--my--custom--input--color--background: var(--color--pure--white);
	--my--custom--spacing-increment: 2;
	--my--custom--spacing-unit: 10;

  --my--style--global--content-size: 620px;
	--my--style--global--wide-size: 1440px;
}

:where(body) {
	background-color: var(--color--pure--white);
	color: var(--color--pure--gray--1176);
	font-family: var(--my--preset--font-family--inter);
	font-size: clamp(12pt, 0.875rem + ((1vw - 3.2px) * 0.179), 13pt); /* clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.179), 16px); */ /* todo from 12pt to 13pt*/
	font-weight: 400;
	line-height: 1.65;
	--my--style--root--padding-top: 0px;
	--my--style--root--padding-right: var(--my--preset--spacing--40);
	--my--style--root--padding-bottom: 0px;
	--my--style--root--padding-left: var(--my--preset--spacing--40);
	margin: 0;
	padding: 0;
}
:where(h1, h2, h3, h4, h5, h6) {
	font-weight: 500;
}
:where(h1) {
	font-size: var(--font-size--xx-large) !important;
	line-height: 1;
}
:where(h2) {
	font-size: var(--font-size--x-large) !important;
	line-height: 1;
}
:where(h3) {
	font-size: var(--font-size--large) !important;
	line-height: 1.2;
}
:where(h4) {
	font-size: var(--font-size--medium) !important;
	line-height: 1.3;
}
:where(h5) {
	font-size: var(--font-size--normal) !important;
	line-height: 1.4;
}
:where(h6) {
	font-size: var(--font-size--normal) !important;
}
